﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@using VetrovShop.DAL.Identity;

    <h2>Список ролей</h2>
    <table class="table">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    @if (role.Name != RoleInitializer.GetSuperRole)
                    {
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="col-lg-2">
            <a asp-action="Create" class="btn btn-info">Добавить роль</a>
        </div>
        <div class="col-lg-2">
            <a asp-action="UserList" class="btn btn-info">Список пользователей</a>
        </div>
    </div>

