﻿@model IEnumerable<VetrovShop.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Product")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Describe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpd)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Describe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpd)
            </td>
            <td>
                <form method="post">
                    <button class="btn btn-info" asp-action="" asp-controller="Product" asp-route-id="@item.Id">Add to cart</button>
                </form>
            </td>
            @{ if (User.IsInRole("Admin") || User.IsInRole("Superuser"))
                {
                    <td>
                        <form method="get">
                            <button class="btn btn-warning" asp-action="Update" asp-controller="Product" asp-route-id="@item.Id">Update</button>
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <button class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id">Delete</button>
                        </form>
                    </td>
                }

            }

        </tr>
    }

</table>