﻿@model VetrovShop.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />

<div class="container">
    <div class="row">

        <div class="col">
            <form asp-action="CreateOrder" asp-controller="Order" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row h-100 justify-content-center align-items-center ">
                    <div id="orderForm" class="p-2">
                        <div id="orderInputs">
                            <select name="checkProduct" id="checkbox" class="selectpicker">
                                @foreach (var item in (IEnumerable<VetrovShop.Models.Product>)ViewData["products"])
                                {
                                    <option value="@item.Id">@item.ProductName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="p-2">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-dark" />
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="form-group">
                            <div id="addOrder_button" class="btn btn-dark">Add product</div>
                        </div>
                    </div>
                </div>
                
                
            </form>
        </div>
    </div>
</div>
        
        
    


    <div>
        <a asp-action="Index">Back to List</a>
    </div>



