﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VetrovShop.WEB</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap@4.0.0/dist/css/bootstrap@4.0.0.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">VetrovShop</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Product" asp-action="Index">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Order" asp-action="Index">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Index">My account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - VetrovShop on the ASP.NET Core</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap@4.0.0/dist/js/bootstrap@4.0.0.min.js"></script>
        <script src="~/js/orderFormAjax.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
