﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VetrovShop.WEB</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap@4.0.0/dist/css/bootstrap@4.0.0.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <h4><a asp-controller="Account" asp-action="Register" class="nav-link">Register</a></h4>
                </li>
                <li class="nav-item">
                    <h4><a asp-controller="Account" asp-action="Login" class="nav-link">Login</a></h4>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - VetrovShop on the ASP.NET Core</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap@4.0.0/dist/js/bootstrap@4.0.0.min.js"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
