﻿@model VetrovShop.WEB.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
    <hr>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 800px;">
            <h3 class="card-title mt-3 text-center">Log in</h3>
            <p>
                <a asp-action="GoogleLogin" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Login via Google</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <div class="form-container">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input asp-for="Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div> <!-- form-group// -->


                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div> <!-- form-group// -->

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Log in  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Don't have an account? <a asp-controller="Account" asp-action="Register">Register</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->
    <h2>@ViewBag.Status</h2>
</div>
<!--container end.//-->