﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-4" id="ref">
        <h2>@Html.ActionLink("Products", "Index", "Product")</h2>
    </div>
    <div class="col-lg-4" id="ref">
        <h2>@Html.ActionLink("Orders", "Index", "Order")</h2>
    </div>
    <div class="col-lg-4" id="ref">
        <h2>@Html.ActionLink("My Account", "Index", "User")</h2>
    </div>
    @{
        if (User.IsInRole("Superuser"))
        {
            <div class="col-lg-4" id="ref">
                <h2>@Html.ActionLink("Manage users", "Index", "Roles")</h2>
            </div>
        }
    }


</div>



