﻿#addOrder_button, input {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

    #addOrder_button:active {
        color: white;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    }

    input:active {
        color: white;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    }

#ref {
    border: double;
}

a {
    align-content: center;
    padding-left: 41%;
    color: black;
}
